In [1]:
import pandas as pd

df = pd.read_csv("weather.csv")
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [2]:
def find_variables(x, columnaX):
    l = []
    for elem in x[columnaX]:
    	if elem not in l:
    		l.append(elem)
    return l

print(find_variables(df,"temperature"))

['hot', 'cool', 'mild']

In [4]:
def cardinalidad(df,columnaX):
		
  	return len(find_variables(df,columnaX))

print(cardinalidad(df, "temperature"))

3

In [ ]:
def conteo(x,columnaX):

    return 0

In [ ]:
def conteo_interseccion(df,parametros,columnas):
    
    return 0

In [ ]:
def probabilidad_x_si_y(df,x,columnaY,valY,a):
    toReturn = {}
    columnas = [x,columnaY]
    #faltan separar las variables en variables []
    for row in variables[x]:
        parametros = [row,valY]
        card = conteo_interseccion(df,parametros,columnas) + a
        denom = df.size +  cardinalidad(row, x)*cardinalidad(valY , columnaY)*a
        numerador = card / denom
        #confirmar los valores del segundo denominador, en la pizarra sale c * y * a,  sera cy *a?
        denom2 = (conteo(y, columnaY) +a)/(df.size + cardinalidad(y, columnaY) * a )
        totes= numerador / denom2
        toReturn[row] = (totes)
    return toReturn

In [ ]:
def predict(clase,variables,valores):
    return 0