In [1]:
import pandas as pd
import math

alpha = 1

df = pd.read_csv("datasets/ejemplo.csv")
df

   A  B
0  0  0
1  0  1
2  0  0
3  0  0
4  1  0
5  2  0
6  2  1
7  2  1
8  2  1
9  0  0

In [2]:
def findVariables(df, col):
    l = []
    for elem in df[col]:
    	if elem not in l:
    		l.append(elem)
    return l

In [3]:
def getCardinality(df, col):
    return len(findVariables(df,col))

In [4]:
# m = [
#     [0,0,0],
#     [0,0,1],
#     [1,0,0]
#     ] este es para otro dataset


m = [
    [0,0],
    [1,0]
]

def getAllParents(g,df):
    fathers = []
    res = []
    colNames = list(df.columns)
    
    for col in range(len(g)):
        aux = []
        for row in range(len(g)):
            if(g[col][row] == 1):
                aux.append(colNames[row])
        fathers.append(aux)

    for i in range(len(g)):
        yield [colNames[i],fathers[i]]
    
    #return res

for i in getAllParents(m,df):
    print(i)

['A', []]
['B', ['A']]

In [5]:
def getParents(varName, df, g):
    colNames = list(df.columns)
    idx = colNames.index(varName)
    result = [varName]
    aux = []
    for i in range(len(g)):
        if(g[idx][i] == 1):
            aux.append(colNames[i])
    result.append(aux)
    return result

getParents('B',df,m)

['B', ['A']]

In [6]:
def calcQ(varName,df,g):
    prod = 1
    if len(getParents(varName,df,g)[1]) > 0:
        for p in getParents(varName,df,g)[1]:
            prod*=getCardinality(df,p)
    return prod

calcQ('A',df,m)

1

In [7]:
def AIC_k(df,g):
    size = len(g)
    colNames = list(df.columns)
    accum = 0
    for i in range(size):
        Q = calcQ(colNames[i],df,g)
#         print("parents",getParents(colNames[i],df,g)[1])
#         print("r",  getCardinality(df,colNames[i]))
#         print("q",Q)
        accum+= (( getCardinality(df,colNames[i]) - 1) * Q)
    return accum

AIC_k(df,m)

5

In [8]:
def AIC():
    return H(B,D)+AIC_k()

In [9]:
def MDL(df,g):
    N = len(df.index)
    return H(B,D) + (AIC_k())/2*math.log(N,10)

In [10]:
def Nij(df,i,j,g):
    colNames = list(df.columns)
    parent = getParents(colNames[i],df,g)
    result = 0
    
    for p in parent[1]:
        possibilities = findVariables(df, p)

        for index,row in df.iterrows():
            if(row[p] == possibilities[j]):
                result+=1
    return result+1

Nij(df,1,0,m)

6

In [11]:
def Nijk(df,i,j,k,g):
    colNames = list(df.columns)
    parent = getParents(colNames[i],df,g)
    result = 0
    iPossibilities = findVariables(df,colNames[i])
    
    for p in parent[1]:
        Pi_possibilities = findVariables(df,p)
        
        for index, row in df.iterrows():
            if(row[p] == Pi_possibilities[j] and row[colNames[i]] == iPossibilities[k]):
                result+=1
    return result+1

Nijk(df,0,1,1,m)

1

In [12]:
def k2(df,g):
    colNames = list(df.columns)
    accum_1 = 1
    for i in range(len(colNames)):
        accum_2 = 1
        for j in range(calcQ(colNames[i],df,g)):
            num = math.factorial(getCardinality(df,colNames[i])-1)
            print("num",num)
            print(colNames[i])
            denom = math.factorial(getCardinality(df,colNames[i])-1 + Nij(df,i,j,g))
            print("denom",denom)
            aux = num/denom
            print("aux",aux)
            accum_3 = 1
            for k in range(getCardinality(df,colNames[i])):
                accum_3*=Nijk(df,i,j,k,m)
                print("accum3",accum_3)
            
            accum_2*= accum_3 * aux
            print("accum2",accum_2)
        accum_1 *= accum_2
    return accum_1
        
        
k2(df,m)

num 2
A
denom 6
aux 0.3333333333333333
accum3 1
accum3 1
accum3 1
accum2 0.3333333333333333
num 1
B
denom 5040
aux 0.0001984126984126984
accum3 5
accum3 10
accum2 0.001984126984126984
num 1
B
denom 6
aux 0.16666666666666666
accum3 2
accum3 2
accum2 0.0006613756613756613
num 1
B
denom 720
aux 0.001388888888888889
accum3 2
accum3 8
accum2 7.348618459729571e-06

2.4495394865765235e-06